@font-face {
    font-family: 'begin';
    src: url('fonts/begin/Caveat-VariableFont_wght.ttf') format("truetype");
    
      }

@font-face {
    font-family: 'intestellar';
    src: url('fonts/intestellar/static/AlumniSans-Regular.ttf') format("truetype"); 
      }

@font-face {
    font-family: 'nolan';
    src: url('fonts/nolan/ViaodaLibre-Regular.ttf') format("truetype"); 
      }

@font-face {
    font-family: 'prestige';
    src: url('fonts/prestige/GreatVibes-Regular.ttf') format("truetype");
      }



body {
    background-color: #4f5f76;
    color: aliceblue;

}

.content {
    width: 1440px;
    background-color: #091f36;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5%;
}

img {
    max-width: 300px;
    margin: 10px;
    border-radius: 5%;
    border-color: rgb(255, 255, 255);
    border: 4px solid #9e363a;
    display: flex;
    justify-content: start;
}

.description{
     display: flex;
     justify-content: space-between;
     font-family: "nolan", sans-serif;
  }

.film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    color: #9e363a;
}

p {
    margin: 8px;
}

h1{
    display: grid;
    justify-content: center;
    color: #97aecf;
}

.prestige{
    font-family: "prestige";
}

.inception{
    font-family: "begin";
}

.intestellar p{
    font-family: "intestellar";
}

.about{
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
}